.commitlintrc.json
.cspell.json
.devcontainer
.editorconfig
.env*
.git*
.husky/
.jscpd.json
.kodiak.toml
.lintstagedrc.json
.mega-linter.yml
.pactum/
.prettierignore
.prettierrc
.releaserc.json
.vscode/
.yamllint.yaml
coverage/
dist/
docker-compose.yml
eslint.config.mjs
jest.config.ts
megalinter-reports/
node_modules/
renovate.json
test/
tsconfig.test.json
